Repository voxpupuli/puppet-nsclient, pull requests merged in 2018-12, with the labels that each got.

#61 Add password variable
  README.md
  manifests/init.pp
  manifests/params.pp
  manifests/service.pp
  spec/classes/nsclient_spec.rb
  templates/nsclient.ini.erb
Labels: enhancement

#58 Add proxy support
  README.md
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
Labels: enhancement

#63 Add chocolatey as a provider for installing the package
  manifests/init.pp
  manifests/install.pp
  manifests/params.pp
Labels: enhancement

#65 remove 'mode' because it is not manage correctly by puppet on windows
  manifests/service.pp
Labels: bug

#67 modulesync 2.4.0
  .msync.yml
  .travis.yml
Labels: modulesync
